@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-900 text-slate-200;
}

/* Custom Scrollbar for cleaner look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-dark-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-dark-700 rounded-full hover:bg-gold-600;
}